.body {
  padding: 10px;
}
.card-content {
  display: flex;
  flex-wrap: wrap;
}

.card__div1 {
  display: flex;
  align-items: center;
  height: 100vh;
}
.card__div2 {
  display: flex;
  align-items: center;
  height: 85vh;
  background-color: rgb(231, 235, 241);
  margin-bottom: 100px;
}
.latest__news {
  background-color: rgb(231, 235, 241);
  height: 15vh;
  color: #35196d;
  font-size: xx-large;
  display: flex;
  align-items: center;
  justify-content: center;
}
.latest__news > svg {
  margin-left: 10px;
}
