.body {
  padding: 10px;
}
.card-content {
  display: flex;
  flex-wrap: wrap;
}

.card__div1 {
  display: flex;
  align-items: center;
  height: 100vh;
  background-color: rgb(231, 235, 241);
}
.card__div2 {
  display: flex;
  align-items: center;
  height: 100vh;
}
