.img__grid {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.img__grid-img {
  position: relative;
  height: 400px;
  width: 100%;
  display: inline-block;
}
.img__grid-img > img {
  height: 400px;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.img__grid-img > img:hover {
  transform: scale(1.05);
  transition: 1000ms;
}

.img__grid-img > button {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 35px;
  width: 70%;
  background-color: black;
  color: white;
  border: none;
  font-size: small;
}
