.header {
  display: flex;
  flex-direction: column;
  height: 100px;
  background-color: white;
  width: 100%;
  align-items: center;
}
.header-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: fit-content;
}

.weather-img {
  margin-left: 100px;
  height: 80px;
  align-items: center;
}

.header__weather-info {
  display: flex;
  flex-direction: column;
  align-self: center;
}
