.hero {
  display: grid;
  background-color: black;
  background-repeat: no-repeat;
  background-image: url(../../images/iit-kgp-main.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 90vh;
  opacity: 1;
  visibility: inherit;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  padding: 20px;
}

.nav__homeIcon {
  font-size: xx-large;
}
.nav__homeIcon :hover {
  transform: scale(1.1);
  color: rgb(58, 58, 75);
}
.nav__search {
  font-size: xx-large;
}
.nav__search:hover {
  transform: scale(1.2);
  color: rgb(58, 58, 75);
}

.nav__ul {
  color: white;
  font-size: large;
  font-weight: 800;
  width: 100%;
  align-content: space-between;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}
.nav__ul > li:hover {
  transition: none;
  color: rgb(58, 58, 75);
  border-bottom: 3px solid rgb(58, 58, 75);
}
