.menudropdown1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  height: fit-content;
}

.icon {
  font-size: 40px;
  color: white;
  cursor: pointer;
}
.icon:hover {
  transform: scale(1.2);
  transition: 200ms;
  color: #3f51b5;
}

.menudropdown1 ul li {
  float: left;
  color: white;
  width: 200px;
  font-size: 25px;
  list-style: none;
  height: 50px;
  line-height: 50px;
  text-align: center;
  cursor: pointer;
}
.menudropdown1 ul li:hover {
  color: white;
  background-color: #3f51b5;
}

.menudropdown1 ul li ul {
  font-size: 20px;
  text-decoration: inherit;
  background-color: #737ebb;
  display: none;
  position: relative;
}
.menudropdown1 ul li ul a {
  color: white;
  text-decoration: none;
}
.menudropdown1 ul li:hover > ul {
  display: block;
}
.menudropdown1 ul li ul:hover {
  transform: scale(1.05);
  transition: 200ms;
  background-color: #3f51b5;
  color: white;
}
.menudropdown1 ul li ul:hover > li {
  display: block;
  background-color: white;
  color: #3f51b5;
}
.menudropdown1 ul li ul li {
  position: absolute;
  left: 200px;
  top: 0px;
  display: none;
}
.menudropdown1 ul li ul li:hover {
  background-color: #3f51b5;
  color: white;
}
