.menudropdown1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  height: fit-content;
  margin-top: 20px;
}
.menudropdown1:hover {
  border-bottom: 3px solid white;
}
.icon {
  color: white;
  font-size: xx-large;
}
.icon:hover {
  color: #3f51b5;
}

.menudropdown1 ul li ul {
  padding: 0px;
}

.menudropdown1 ul li {
  float: left;
  color: white;
  width: 200px;
  font-size: 25px;
  list-style: none;
  height: 50px;
  line-height: 50px;
  text-align: center;
}
.menudropdown1 ul li:hover {
  color: #3f51b5;
}

.menudropdown1 ul li ul {
  background-color: white;
  display: none;
}
.menudropdown1 ul li:hover > ul {
  background-color: white;
  display: block;
}
.menudropdown1 ul li ul {
  position: relative;
}
.menudropdown1 ul li ul:hover {
  background-color: #3f51b5;
  color: white;
}
.menudropdown1 ul li ul:hover > li {
  display: block;
  background-color: white;
  color: #3f51b5;
}
.menudropdown1 ul li ul li {
  position: absolute;
  left: 200px;
  top: 0px;
  display: none;
}
.menudropdown1 ul li ul li:hover {
  background-color: #3f51b5;
  color: white;
}
