.footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  min-height: 400px;
  max-height: fit-content;
  width: 100%;
  background-color: rgb(58, 58, 75);
}

.footer__div-1 {
  display: flex;
  background-color: rgb(58, 58, 75);
  height: 100%;
  width: 100%;
}

.footer__logo {
  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: center;
  height: fit-content;
  width: 33%;
  background-color: rgb(58, 58, 75);
}
.footer__logo > img {
  width: 100px;
  margin-left: auto;
  margin-right: auto;
}

.footer__logo > .institute-name {
  text-align: center;
  color: white;
  margin-bottom: 20px;
}
.footer__info {
  margin: 10px;
  border-left: 1px solid rgba(128, 128, 128, 0.219);
  width: 33%;
  background-color: rgb(58, 58, 75);
}
.footer__info > p {
  border-bottom: 1px solid rgba(128, 128, 128, 0.219);
  font-size: large;
  color: grey;
  margin: 10px 10px;
}
.footer__info > h1 {
  color: white;
}

.footer__div-2 {
  display: flex;
  align-items: center;
  background-color: rgb(58, 58, 75);
  height: 50px;
  width: 100%;
}

.footer__div-2-logo {
  justify-content: space-between;
  color: white;
  align-self: center;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  display: flex;
  align-content: center;
  align-items: center;
  background-color: rgb(58, 58, 75);
}
.phone {
  display: flex;
  flex-wrap: wrap;
  color: orange;
}
.mail {
  display: flex;
  flex-wrap: wrap;
  color: orange;
}
.phone > p {
  color: rgb(194, 194, 194);
}
.mail > p {
  color: rgb(194, 194, 194);
}
