.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.header__iit-logo {
  /* margin-left: 50px; */
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 40%;
}

.iit__logo-name {
  margin-left: 10px;
}
.iit__logo-name > p {
  font-size: large;
  text-align: left;
  color: #412679;
  font-weight: 900;
}

.infrastructure__works > strong {
  margin-right: 260px;
}
.header__iit-logo > img {
  height: 60px;
}
.header__weather {
  /* margin-right: 50px; */
  display: flex;
  flex-direction: row;
  align-items: center;
}

.weather-icon {
  font-size: xx-large;
  color: orange;
  margin-right: 10px;
  height: 80px;
  align-items: center;
}

.header__weather-info {
  display: flex;
  flex-direction: column;
  align-self: center;
}
