.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100px;
  background-color: white;
  width: 100%;
}
.header__iit-logo {
  margin-left: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 40%;
}

.iit__logo-name {
  margin-right: 10px;
}
.iit__logo-name > p {
  text-align-last: right;
  color: #583798;
  font-weight: 800;
}
.header__iit-logo > img {
  height: 60px;
}
.header__weather {
  margin-right: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.weather-icon {
  font-size: xx-large;
  color: orange;
  margin-right: 10px;
  height: 80px;
  align-items: center;
}

.header__weather-info {
  display: flex;
  flex-direction: column;
  align-self: center;
}
