.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100px;
  background-color: white;
  width: 100%;
}
.header__iit-logo {
  margin-left: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: fit-content;
}
.header__weather {
  margin-right: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.weather-icon {
  font-size: xx-large;
  color: orange;
  margin-right: 10px;
  height: 80px;
  align-items: center;
}

.header__weather-info {
  display: flex;
  flex-direction: column;
  align-self: center;
}
