.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 120px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.header__iit-logo {
  /* margin-left: 50px; */
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 40%;
}

.iit__logo-name {
  margin-left: 10px;
}
.change-content {
  font-size: 1.5rem;
  text-align: left;
  color: white;
  font-weight: 900;
  text-shadow: 1px 1px rgba(67, 25, 165, 0.5);
}
.change-content:after {
  content: "";
  animation: changetext 5s infinite linear;
}
@keyframes changetext {
  0% {
    content: "INDIAN INSTITUTE OF TECHNOLOGY KHARAGPUR";
  }
  100% {
    content: "भारतीय प्रौद्योगिकी संस्थान, खड़गपुर";
  }
}

.infrastructure__works > strong {
  margin-right: 260px;
}
.header__iit-logo > img {
  height: 60px;
}

.infrastructure__works {
  display: flex;
  align-items: center;
  justify-content: center;
  color: whitesmoke;
}
.header__weather {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.weather-icon {
  font-size: xx-large;
  color: orange;
  margin-right: 10px;
  height: 80px;
  align-items: center;
}

.header__weather-info {
  color: white;
  display: flex;
  flex-direction: column;
  align-self: center;
}
