.footer {
  height: 300px;
  width: 100%;
  background-color: rgb(58, 58, 75);
}

.footer__div-1 {
  display: flex;
  background-color: rgb(58, 58, 75);
  height: 100%;
  width: 100%;
}

.footer__logo {
  display: grid;
  align-items: center;
  height: 100%;
  width: 25%;
  background-color: rgb(58, 58, 75);
}
.footer__logo > img {
  width: 50%;
}
.footer__info {
  margin: 10px;
  border-left: 1px solid grey;
  width: 25%;
  background-color: rgb(58, 58, 75);
}
.footer__info > p {
  color: grey;
  margin: 10px 10px;
}

.footer__div-2 {
  display: flex;
  align-items: center;
  background-color: rgb(58, 58, 75);
  height: 50px;
  width: 100%;
}

.footer__div-2-logo {
  justify-content: space-between;
  align-self: center;
  width: 300px;
  display: flex;
  align-content: center;
  align-items: center;
  background-color: rgb(58, 58, 75);
}
